.home-layout-content {
    margin-left: 260px;
    color: white;
}
.home-background-container {
    background-color: #303030;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
}

