.full-width {
    width:100%;
}

.one-fourth-height {
    height: 25%;
}

.one-fifth-width {
    width: 20%;
}

.one-fifth-height {
    height: 20%;
}

.one-fourth-width {
    width: 25%;
}

.one-half-width {
    width: 25%;
}

.one-tenth-width {
    width: 10%;
}

.fixed-position {
    position: fixed;
}

.three-fourths-height {
    height: 75%;
}

.three-fourths-width {
    width: 75%;
}

.thin-margins {
    margin: .4em;
}

.miniscule-margins {
    margin: .1em;
}

.thin-padding {
    padding: .4em;
}
.dark-background {
    background-color: grey;
}

.black-bordered {
    border: 1px solid black;
}

.white-thin-border {
    border: 1px solid white;
}

.white-thick-border {
    border: 3px solid white;
}

#top-row {
    overflow: hidden;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.align-top {
    vertical-align: top;
}

.app-background-color {
    background-color: #303030;
}

#toggle-ready-button {
    margin-top: .2em;
}

#racer-list-card {
    min-width: 18em;
}