.score-card-container .scorecard-item {
    position: relative;
}

.score-card-container .scorecard-item .collected {
    opacity: 1;
}

.score-card-container .scorecard-icon {
    opacity: .25;
}

.weight-label {
    position: absolute;
    font-size: 1em;
    top: .9em;
    left: 2.2em;
    opacity: 1;
}

.cursor-pointer {
    cursor: pointer;
}