.goal-card {
    height: 20vh;
    font-size: .9em;
    cursor: pointer;
    background-color: #3f51b5;
}

.required {
    background-color: #ec407a;
}

.locked {
    background-color: #e91e63;
}

.streamcard-goal {
    width: 95vw;
    cursor: pointer;
}
.complete {
}