.goal-card {
    height: 20vh;
    font-size: .9em;
    cursor: pointer;
}

.required-goal {

}

.locked {
    background-color: #e91e63;
}

.streamcard-background {
    background-color: #303030;
    height: 100%;
    width: 90vw;
    position: fixed;
    top: 0;
}

.streamcard-goal {
    width: 95vw;
    cursor: pointer;
}
.complete {
}